# ESPHome-specific ignores
# Build artifacts and secrets for this ESPHome project

# ESPHome build cache
.esphome/

# Secrets file (NEVER commit this!)
secrets.yaml

# Backup files
*.backup
*.old

# IDE files
.vscode/
.idea/
