# Hourly Forecast Page (Page 4)
# 6-hour forecast display
id: hourly_forecast_page
bg_color: 0x000000
bg_opa: COVER
scrollbar_mode: "OFF"
on_load:
  - script.execute: page_transition_cleanup
  - lambda: 'id(current_page_index) = 4;'  # hourly_forecast_page
widgets:
  # Page Header
  - label:
      text: "6-Hour Forecast"
      align: TOP_MID
      y: 5
      text_font: montserrat_18
      text_color: my_white
      text_align: CENTER

  # Hour 1 Card
  - obj:
      width: 170
      height: SIZE_CONTENT
      align: TOP_MID
      y: 35
      bg_color: 0x101010
      bg_opa: COVER
      border_width: 0
      radius: 8
      pad_all: 6
      scrollbar_mode: "OFF"
      layout:
        type: flex
        flex_flow: column
        pad_row: 2
      widgets:
        - label:
            id: lbl_hourly_hour1_header
            text: "Hour +1"
            text_font: montserrat_14
            text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  id: lbl_hourly_hour1_icon
                  text: "--"
                  text_font: icons_40
                  text_color: my_white
              - label:
                  id: lbl_hourly_hour1_temp
                  text: "--°"
                  text_font: montserrat_24
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Feels:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_feels
                  text: "--°"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Humid:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_humid
                  text: "--%"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Precip:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_precip
                  text: "--%"
                  text_font: montserrat_10
                  text_color: my_teal
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Amt:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_precip_amt
                  text: "-- in"
                  text_font: montserrat_10
                  text_color: my_teal
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Pressure:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_pressure
                  text: "-- mb"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "UV:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_uv
                  text: "--"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Wind:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_wind
                  text: "-- mph"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Direction:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour1_wind_dir
                  text: "--"
                  text_font: montserrat_10
                  text_color: my_white

  # Hour 2 Card
  - obj:
      width: 170
      height: SIZE_CONTENT
      align: TOP_MID
      y: 245
      bg_color: 0x101010
      bg_opa: COVER
      border_width: 0
      radius: 8
      pad_all: 6
      scrollbar_mode: "OFF"
      layout:
        type: flex
        flex_flow: column
        pad_row: 2
      widgets:
        - label:
            id: lbl_hourly_hour2_header
            text: "Hour +2"
            text_font: montserrat_14
            text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  id: lbl_hourly_hour2_icon
                  text: "--"
                  text_font: icons_40
                  text_color: my_white
              - label:
                  id: lbl_hourly_hour2_temp
                  text: "--°"
                  text_font: montserrat_24
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Feels:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_feels
                  text: "--°"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Humid:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_humid
                  text: "--%"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Precip:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_precip
                  text: "--%"
                  text_font: montserrat_10
                  text_color: my_teal
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Amt:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_precip_amt
                  text: "-- in"
                  text_font: montserrat_10
                  text_color: my_teal
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Pressure:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_pressure
                  text: "-- mb"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "UV:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_uv
                  text: "--"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Wind:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_wind
                  text: "-- mph"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Direction:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour2_wind_dir
                  text: "--"
                  text_font: montserrat_10
                  text_color: my_white

  # Hour 3 Card
  - obj:
      width: 170
      height: SIZE_CONTENT
      align: TOP_MID
      y: 455
      bg_color: 0x101010
      bg_opa: COVER
      border_width: 0
      radius: 8
      pad_all: 6
      scrollbar_mode: "OFF"
      layout:
        type: flex
        flex_flow: column
        pad_row: 2
      widgets:
        - label:
            id: lbl_hourly_hour3_header
            text: "Hour +3"
            text_font: montserrat_14
            text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  id: lbl_hourly_hour3_icon
                  text: "--"
                  text_font: icons_40
                  text_color: my_white
              - label:
                  id: lbl_hourly_hour3_temp
                  text: "--°"
                  text_font: montserrat_24
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Feels:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_feels
                  text: "--°"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Humid:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_humid
                  text: "--%"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Precip:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_precip
                  text: "--%"
                  text_font: montserrat_10
                  text_color: my_teal
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Amt:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_precip_amt
                  text: "-- in"
                  text_font: montserrat_10
                  text_color: my_teal
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Pressure:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_pressure
                  text: "-- mb"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "UV:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_uv
                  text: "--"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Wind:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_wind
                  text: "-- mph"
                  text_font: montserrat_10
                  text_color: my_white
        - obj:
            width: 100%
            height: SIZE_CONTENT
            bg_opa: 0
            border_width: 0
            pad_all: 0
            layout:
              type: flex
              flex_flow: row
              flex_align_main: SPACE_BETWEEN
            widgets:
              - label:
                  text: "Direction:"
                  text_font: montserrat_10
                  text_color: my_gray
              - label:
                  id: lbl_hourly_hour3_wind_dir
                  text: "--"
                  text_font: montserrat_10
                  text_color: my_white

  # Center navigation button - click to go to hours 4-6
  - obj:
      id: nav_button_hourly_center
      align: CENTER
      width: 150
      height: 150
      bg_opa: 0
      border_width: 0
      clickable: true
      on_press:
        - logger.log: "Hourly page 1 CENTER button PRESSED - going to page 2!"
        - lambda: |-
            ESP_LOGI("touch", "Navigation button touched");
            id(last_auto_rotation_time) = millis();
            ESP_LOGD("touch", "Auto-rotation timer reset");
        - lvgl.page.show:
            id: hourly_forecast_page_2
            animation: OUT_LEFT
            time: 300ms

  # Top-right navigation button - normal page rotation
  - obj:
      id: nav_button_hourly
      align: TOP_RIGHT
      x: 0
      y: 0
      width: 100
      height: 100
      bg_opa: 0
      border_width: 0
      clickable: true
      on_press:
        - logger.log: "Hourly Forecast page nav button PRESSED!"
        - lambda: |-
            ESP_LOGI("touch", "Navigation button touched");
            id(last_auto_rotation_time) = millis();
            ESP_LOGD("touch", "Auto-rotation timer reset");
        - lvgl.page.next:
            animation: OUT_LEFT
            time: 300ms

# Hourly Forecast Page 2 - Hours 4-6
